body{
	padding: 0;
	margin: 10;
	font-family: 'Jost', sans-serif;
	background: #7b4397;  
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  
    background: linear-gradient(to right, #dc2430, #7b4397); 

}

.home-container{
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#profile{
margin-top: 20px;
border-radius: 50%;
width: 60%;
height: auto;
}

.about-section p{
 font-size: 25px;
}


#about-header{
	text-align: center;
	font-weight: 900;
}

#about-paragraph{
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 20px;
}

h1{
	color: #ffffff;
}

.education{
	text-align: center;
    background-color: beige;
	margin-left: 60px;
	margin-right: 60px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.education p {
    font-size: 25px;
}

.home{
	font-size: 30px;
	margin-left: 60px;
	margin-bottom: 20px;
	margin-top: 10px;
	font-weight: 900;
	background-color: #ffffff;
	margin-right: 60px;
}

.home h3{
     margin-left: 10px;
}

.home a {
	text-decoration: none;
}

#hr{
    background-color: rgb(252,48,75);
    padding: 1px;
    margin-left: 300px;
    margin-right: 300px;
}

#skills{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 50px;
	margin-right: 50px;
}

#h3{
	margin-left: 30px;
	margin-right: 30px;
	background-color: #ffffff;
	margin: 15px;
	padding: 15px;
}

#h3 p {
	font-size: 20px;
}

#skills-heading{
	text-align: center;
}